name: keep-alive-render

on:
  schedule:
    - cron: "*/10 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render app
        run: curl -s https://time-series-forecaster.onrender.com/health
